html,
body {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  font-size: larger;
  background-image: url("./Assets/baby-yoda.jpg");

}
.quiz,
.scoreContainer,
.highScorePage {
  display: none;
}

.card {
  margin-top: 7% !important;
  background-color: white;
}

li:hover {
  background-color: lightcoral;
  max-width: fit-content;
  cursor: pointer;
}

.highScorePage {
  margin-top: 0%;
}

footer{
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  color: lightgray;
  text-align: center;
  opacity: 0.2;
}